<div style="text-align:center">
<h1>O Nas:</h1>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class ="col-md" style="text-align:center">
            <img class="head" src="assets/head.jpg" width=175px height=150px>
            <h1>Zbigniew "Zielak" Zieliński</h1>
            <p>Moją największą pasją życiową są motocykle. 
            Urodziłem się w 1964 roku.
            W 1979 roku kupiłem sobie swój pierwszy wymarzony motor - był nim Iż49.
            Wtedy jeszcze do mechanika było mi daleko, a jak wiadomo ten model motocykla do najlepszych nie należał. 
            W 1989 roku postanowiłem otworzyć swój własny warsztat. 
            Praca nie była trudna, ponieważ na polskim rynku istniało nie wiele motocykli: Iż, Simson, Mz, WSK, Java. 
            Trudniejsze wyzwania zaczęły się później, gdy nastała era japońskich maszyn. 
            Edukację musiałem zacząć od początku, lecz zdobyte doświadczenie pozwoliło mi na szybkie dostosawanie do potrzeb klientów. 
            Od kilkunastu lat zajmuję się naprawą motocykli wszystkich marek i modeli. </p>
            </div>
            <div class ="col-md" style="text-align:center">
                <img class="head" src="assets/head.jpg" width=175px height=150px>
                <h1> Adrian Zieliński</h1>
    </div>
</div>
<div id="gallery"></div>
</div>