:host {
    background-color: lightgrey;
}


.col-md{
    margin:1rem;
    box-shadow: 5px 5px 5px 5px #888888;
    border-radius: 1rem;
    margin-right:5rem;
    margin-left:5rem;
}

img{
    margin-bottom: 1rem;
}