
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img src="assets/header.jpg"width= 70rem height=70rem>
        MotorServis
    </a>
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#persons">O NAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">GALERIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">KONTAKT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../gadgets" style="color:red;">GADŻETY</a>
        </li>
      </ul>
    </div>
  </nav>


