<div class="main" style="text-align:center">
   <h1>Galeria:</h1>
  <div class="row">
    <div class="col">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
            <img src="assets/jeden.jpg" alt="Random first slide">
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/dwa.jpg" alt="Random second slide">
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/trzy.jpg" alt="Random third slide">
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/cztery.jpg" alt="Random fourth slide">
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/piec.jpg" alt="Random fifth slide">
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/siedem.jpg" alt="Random seventh slide">
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/dziewiec.jpg" alt="Random nineth slide">
          </ng-template>
        </ngb-carousel>
             <div class="col-md-2">
      </div>
    </div>
  </div>