.col-md{
    margin:1rem;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px 5px #888888;
    border-radius: 1rem;
}

img:hover{
    box-shadow: 5px 5px 5px 5px #888888;
}

img{
    margin:1rem; 
}

.larsson{
    margin-top:6rem;
}

.supermarkt{
    margin-bottom: 1.5rem;
}

  .baner{
      font-family: banerFont;
      font-size: 6vw;
  }