<div class="container" id="contact">
    <div class="row">
        <div class ="col-sm">
            <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
                <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            
            </div>
            <div class ="col-sm-4">
<h1>Kontakt</h1>
<p>MOTORSERVIS ZGORZELEC</p>
<p>Zbigniew Zieliński</p>
<p>Ul. Boh. II Armii Wojska Polskiego 8d</p>
<p>59-900 Zgorzelec</p>
<br>
<img src="assets/mail.png" width=20px height=20px><a href="mailto:zielak-zgorzelec@o2.pl"> zielak-zgorzelec@o2.pl</a><br>
<img src="assets/phone.jpg" width=20px height=20px><a href="tel://+48608391923"> +48 608 391 923</a><br>
<img src="assets/web.png" width=20px height=20px><a href="#"> www.motorservis.zgorzelec.pl</a>
<br>
<br>
    </div>
</div>
<p>© Copyright {{year}}. Wszystkie prawa zastrzeżone.</p>
</div>

