:host {
  display: block;
  color:white;
  background-color: black;
}

agm-map {
  height: 300px;
 }

 .col-sm {
   margin-top: 2.5rem;
 }
 .col-md {
  margin-top: 2.5rem;
}

 h1 {
   font-size:1.8rem;
   font-weight:200;
   letter-spacing: normal;
   line-height: 27px;
   margin: 0 0 14px 0;
   font-family: "Open Sans", Arial, sans-serif;
 }
 
 p{
  margin-bottom: 10px;
  line-height: 24px;
  margin:0;
  
 }

 .col-sm-4{
   margin-top: 3rem;
 }